---
import Section from "../Section.astro";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import Next from "@/icons/next.astro";
import { skills } from "@cv";
import Swift from "@/icons/swift.astro";
import SwiftUI from "@/icons/swiftui.astro";
import Kotlin from "@/icons/kotlin.astro";
import Flutter from "@/icons/flutter.astro";
import Figma from "@/icons/Figma.astro";
import Gitlab from "@/icons/Gitlab.astro";
import Angular from "@/icons/angular.astro";
import NestJS from "@/icons/nestjs.astro";
import Express from "@/icons/express.astro";
import Laravel from "@/icons/laravel.astro";
import Symfony from "@/icons/symfony.astro";
import PostgreSQL from "@/icons/postgresql.astro";
import MongoDB from "@/icons/mongodb.astro";
import AWS from "@/icons/aws.astro";
import PHP from "@/icons/php.astro";
import Svelte from "@/icons/svelte.astro";
import AstroIcon from "@/icons/astro.astro";
import HonoJS from "@/icons/hono.astro";
import NodeJS from "@/icons/node.astro";

const SKILLS_ICONS: Record<string, any> = {
	HTML,
	CSS,
	JavaScript,
	TypeScript,
	React,
	Node,
	NodeJS,
	MySQL,
	Git,
	GitHub,
	Next,
	Tailwind,
	Swift,
	SwiftUI,
	Kotlin,
	Flutter,
	Figma,
	Gitlab,
	Angular,
	NestJS,
	Express,
	Laravel,
	Symfony,
	PostgreSQL,
	MongoDB,
	AWS,
	PHP,
	Svelte,
	Astro: AstroIcon,
	HonoJS,
};
---

<Section className={Astro.props.className} title="Skills">
	<ul class="[&>li>svg]:text-skin-hue inline-flex flex-wrap gap-6 [&>li>svg]:size-5 [&>li]:text-sm">
		{
			skills.map(({ name }) => {
				const iconName = name === "Next.js" ? "Next" : name;
				const Icon = SKILLS_ICONS[iconName];

				return (
					<li class="border-skin-hue/20s bg-skin-button-accent/20s borders border-solids flex items-center gap-1 rounded-md px-2 py-0.5 text-xs text-skin-muted print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
						{Icon && <Icon />} <span>{name}</span>
					</li>
				);
			})
		}
	</ul>
</Section>
